Source: piaware
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=9), tcl8.6-dev, autoconf, python3-dev(>=3.2), python3-venv, libz-dev, dh-systemd, openssl, libboost-system-dev, libboost-program-options-dev, libboost-regex-dev, libboost-filesystem-dev
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware

Package: piaware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, iproute2, tclx8.4, tcl8.6, tcllib, tcl-tls, itcl3
Suggests: dump1090-fa, dump978-fa
Conflicts: fa-mlat-client
Replaces: fa-mlat-client
Description: Open Aviation Data Exchange Protocol for ADS-B FlightFeeders
  The client-side portion of fa_adept that sends aviation data via TCL sockets.
