Source: piaware
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=8), tcl8.5-dev, autoconf, python3-dev (>= 3.2), python-virtualenv, libz-dev, openssl
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware
#Vcs-Git: git://git.debian.org/collab-maint/fa-adept-adsb.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fa-adept-adsb.git;a=summary

Package: piaware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, iproute2, tclx8.4, tcl8.5, tcllib, tcl-tls, itcl3
Recommends: dump1090-fa
Conflicts: fa-mlat-client
Replaces: fa-mlat-client
Description: Open Aviation Data Exchange Protocol for ADS-B FlightFeeders
  The client-side portion of fa_adept that sends aviation data via TCL sockets.
