#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

PYTHON3 := /usr/bin/$(shell py3versions -d)

VENV=$(CURDIR)/debian/venv

CHANGELOG_VERSION=$(shell dpkg-parsechangelog | sed -n 's/^Version: //p')

# ensure that setuptools doesn't try to retrieve anything off the network:
override http_proxy := http://127.0.0.1:9/
override https_proxy := http://127.0.0.1:9/
export http_proxy https_proxy

# When building/installing wheels we need to ensure that the target
# platform is set to the correct platform for the Python we're running on;
# setuptools gets this wrong and looks at "uname -m" which might not match
# the running Python platform in 32-bit-userspace-on-64-bit-kernel cases
# (This is fixed in newer wheel releases but we don't have that, so..)

ifeq (arm,$(DEB_HOST_GNU_CPU))
PYTHON_HOST_PLATFORM=linux-armv7l
else ifeq (i686,$(DEB_HOST_GNU_CPU))
PYTHON_HOST_PLATFORM=linux-i686
else
PYTHON_HOST_PLATFORM=$(shell $(PYTHON3) -c "import sysconfig; print(sysconfig.get_platform())")
endif

override_dh_auto_clean: clean_tcllauncher clean_dump1090 clean_mlat-client clean_piaware clean_dump978

override_dh_auto_configure: check_versions configure_tcllauncher

override_dh_auto_build: build_tcllauncher build_dump1090 build_mlat-client build_dump978

override_dh_auto_install: install_tcllauncher install_dump1090 install_mlat-client install_piaware install_dump978

override_dh_strip:
	# cxfreeze produces a launcher executable with a zipfile appended
	# attempting to strip it will damage the zipfile
	dh_strip -X debian/piaware/usr/lib/piaware/helpers/fa-mlat-client

override_dh_installinit:
	dh_installinit --no-stop-on-upgrade --no-restart-after-upgrade

override_dh_systemd_enable:
	dh_systemd_enable --name=piaware piaware.service
	dh_systemd_enable --name=generate-pirehose-cert generate-pirehose-cert.service

override_dh_systemd_start:
	dh_systemd_start --no-stop-on-upgrade --no-restart-after-upgrade --name=piaware piaware.service
	dh_systemd_start --name=generate-pirehose-cert generate-pirehose-cert.service

check_versions:
	debian/check_versions

configure_tcllauncher:
	cd tcllauncher && autoconf -f && ./configure --with-tcl=/usr/lib/tcl8.6

build_dump1090:
	make -C dump1090 RTLSDR=no BLADERF=no DUMP1090_VERSION="piaware-$(CHANGELOG_VERSION)" faup1090

install_dump1090:
	install -d $(CURDIR)/debian/piaware/usr/lib/piaware/helpers
	install -t $(CURDIR)/debian/piaware/usr/lib/piaware/helpers dump1090/faup1090

build_dump978:
	make -C dump978 faup978 VERSION=$(DEB_VERSION)

install_dump978:
	install -d $(CURDIR)/debian/piaware/usr/lib/piaware/helpers
	install -t $(CURDIR)/debian/piaware/usr/lib/piaware/helpers dump978/faup978

build_mlat-client:
	# setup venv for mlat-client build
	$(PYTHON3) -m venv --system-site-packages --without-pip $(VENV)
	# build cxfreeze for later packaging of mlat-client
	cd zipp-0.5.0 && $(VENV)/bin/python setup.py bdist_wheel --plat-name $(PYTHON_HOST_PLATFORM)
	$(VENV)/bin/python -m pip install --no-index --no-deps --ignore-installed --require-virtualenv zipp-0.5.0/dist/*.whl
	cd importlib_metadata-4.3.1 && $(VENV)/bin/python setup.py bdist_wheel --plat-name $(PYTHON_HOST_PLATFORM)
	$(VENV)/bin/python -m pip install --no-index --no-deps --ignore-installed --require-virtualenv importlib_metadata-4.3.1/dist/*.whl
	cd cx_Freeze-6.8.3 && $(VENV)/bin/python setup.py bdist_wheel --plat-name $(PYTHON_HOST_PLATFORM)
	$(VENV)/bin/python -m pip install --no-index --no-deps --ignore-installed --require-virtualenv cx_Freeze-6.8.3/dist/*.whl
	# build mlat-client proper
	cd mlat-client && $(VENV)/bin/python setup.py bdist_wheel --plat-name $(PYTHON_HOST_PLATFORM)
	$(VENV)/bin/python -m pip install --no-index --no-deps --ignore-installed --require-virtualenv mlat-client/dist/*.whl

install_mlat-client:
	# newer cxfreeze deletes --target-dir (see cxfreeze issue #1300), so we have to freeze to a temporary directory and
	# install from there
	$(VENV)/bin/python $(VENV)/bin/cxfreeze --target-dir=$(CURDIR)/freeze-mlat-client $(VENV)/bin/fa-mlat-client
	cp -a $(CURDIR)/freeze-mlat-client/* $(CURDIR)/debian/piaware/usr/lib/piaware/helpers/

clean_mlat-client:
	rm -fr mlat-client/build mlat-client/dist
	rm -fr cx_Freeze-6.8.3/build cx_Freeze-6.8.3/dist
	rm -fr importlib_metadata-4.3.1/build importlib_metadata-4.3.1/dist
	rm -fr zipp-0.5.0/build zipp-0.5.0/dist
	rm -fr $(VENV)

install_piaware:
	make -C piaware DESTDIR=$(CURDIR)/debian/piaware install INSTALL_SUDOERS=1 SYSTEMD= SYSVINIT= TCLLAUNCHER=$(CURDIR)/debian/piaware/usr/bin/tcllauncher

configure_%:
	dh_auto_configure -D $*

build_%:
	dh_auto_build -D $*

install_%:
	dh_auto_install -D $*

clean_%:
	dh_auto_clean -D $*

%:
	dh $@ --with=systemd
